# Default ignored files
/shelf/
/workspace.xml
/.idea
# Datasource local storage ignored files
/../../../../:\git\gts4vect\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
